@import url('https://fonts.googleapis.com/css?family=Exo+2:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Mina:700');

@font-face {
  font-family: 'Mina';
  font-style: normal;
  font-weight: 700;
  src: url('../static/Mina-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 400;
  src: url('../static/Exo-2-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('../static/Exo-2.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 700;
  src: url('../static/Exo-2-Bold-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: url('../static/Exo-2-Bold.ttf') format('truetype');
}

/* Horribly hacky. */
img[alt=title-img], img.title-img {
    display: block;
    margin: 0 auto;
    width: 12rem;
}

.title {
	font-size: 5em;
	text-align: center;
}

h1, h2, h3 {
    font-family: 'Mina';
    font-weight: bold;
    clear: both;
}

img[alt=image] {
    display: block;
    margin: auto;
}

.page-break {
    page-break-before: always;
}

.page-break-after {
    page-break-after: always;
    display: block;
}

h1:not(.title) {
    page-break-before: always;
    border-top: 2px double black;
    border-bottom: 2px double black;
    font-weight: bolder;
}

h2 {
    border-bottom: 1px solid black;
}

body {
    font-size: 9px;
}

* {
    font-family: 'Exo 2', 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size-adjust: auto;
}

.float-right {
    float: right;
    margin-left: 1em;
    max-width: 45%;
}

.float-left {
    float: left;
    margin-right: 1em;
    max-width: 45%;
}

.pull-up {
    margin-top: -3em;
}

.pull-up-sm {
    margin-top: -1em;
}

.flex {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-flex-direction: row;
}

.flex .obj-block {
    width: 45%;
    max-width: 45%;
}

.obj-block {
    border: 1px solid black;
    border-radius: 5px;
	background-color: #e0e4ec;
	padding: 0.8em 1em;
    margin-bottom: 0.9em;
    page-break-inside: avoid;
}

.obj-block:after {
  content: "";
  display: table;
  clear: both;
}

.obj-block p + ul, .obj-block p + ol {
    /*margin-top: -0.5em;*/
}

li > ul {
    margin-bottom: 0.1em;
}

.obj-block .lead > strong {
    font-size: 1.2em;
}

.obj-block .lead > span {
    display: inline-block;
    vertical-align: text-top;
}

.clear {
    clear: both;
}

p, ul, ol, table, blockquote {
    margin-top: 0;
    margin-bottom: 0.9em;
}

.t-full table {
    width: 100%;
}

table, td, th {
    page-break-inside: avoid;
    padding: 2px 3px;
    vertical-align: baseline;
}

table, td {
    border: 1px solid black;
}

ul, ol {
    /*margin-top: 0;
    margin-bottom: 0.9em;*/
    padding-left: 1.6em;
}

li > p {
    display: inline;
}

code {
	color: #333;
	background-color: #eee;
	border-radius: 2px;
    padding: 0.1em 0.5em;
}

blockquote, pre {
    background-color: #eee;
    border: 0 transparent;
    border-left: 4px solid black;
    border-radius: 4px;
    padding: 0.5em 1em;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    overflow: auto;
}

/* Collapse margin where padding makes it redundant. */
blockquote > :last-child {
    margin-bottom: 0;
}
